@import "~@/styles/mixin.scss";
@import "~@/styles/variables.scss";

// 根据store aside的不同，菜单会在左侧或者是以一个按钮在nav上
.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}
.aside-logo {
  width: calc(#{$sideBarWidth} / 4);
  margin-left: calc(#{$sideBarWidth} / 3);
  margin-top: 10px;
  img {
    width: 100%;
    cursor: pointer;
  }
}
.scrollbar-wrapper {
  overflow-x: hidden !important;
}

.main-container {
  transition: margin-left 0.28s;
  margin-left: $sideBarWidth;
  position: relative;
  height: auto;
  min-height: 100%;
  background: $bodyBackgroundColor;
  &.wrap-content {
    margin-left: 0;
  }
}

.hideSidebar .main-container {
  margin-left: $miniBarWidth;
}

.sider-none {
  .main-container {
    margin-left: 0;
  }
  .main-container {
    background: #fff;
  }
  .app-main {
    // width: 1200px;
    background: #fff;
    margin: 0 auto;
    overflow: visible !important;
  }
}
.menu-aside {
  transition: width 0.28s;
  width: $sideBarWidth;
  background: $asideBg;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  .menu-wrapper {
    height: calc(100% - 18px);
    width: 100%;
    padding-top: 18px;
    position: relative;
    .menu-opts {
      color: #666666;
      position: fixed;
      // right: 0;
      width: 16px;
      height: 16px;
      left: 200px;
      top: 50%;
      z-index: 1002;
      cursor: pointer;
      font-size: 20px;
    }
    .el-scrollbar {
      height: 100%;
    }
  }
  &.min-menu {
    width: $miniBarWidth;
    overflow: hidden;
    .menu-item-text {
      display: none;
    }
    .menu-opts {
      left: 64px;
    }
  }
}

.app-main {
  width: 100%;
  min-height: calc(100vh - #{$headerHeight});
  // min-width: $min-width;
  font-size: 14px;
  box-sizing: border-box;
  // max-width: $max-width;
  position: relative;
  overflow: hidden;
  // @media screen and (max-width: $max-width) {
  //   & {
  //     margin: 0 24px;
  //   }
  // }

  // @media screen and (min-width: $max-width+1) {
  //   & {
  //     margin: 0 auto;
  //   }
  // }
}
.el-menu .el-menu-item:focus .menu-item-text {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.menu-box,
.el-menu-item,
.el-submenu .el-menu,
.el-submenu__title,
.el-menu .el-menu-item:focus .menu-item-text {
  color: $asideFontColor;
}

.menu-box,
.el-menu-item,
.el-submenu .el-menu {
  background: $asideBg;
}
.el-menu-item.is-active,
.el-submenu__title:hover,
.el-menu-item:focus {
  background: $asideBg !important;
  color: $asideFontColor !important;
}
.el-menu .el-menu-item:hover {
  background: $asideBg !important;
  color: $asideFontColor !important;
}
